<head>
    <style>
        /*@font-face { 
        font-family: "Open Sans"; 
        src: url(fonts/OpenSans-Regular.ttf);
        }*/
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
        body {
          background: rgb(204,204,204); 
        }
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        page[size="A5"] {
          width: 21cm;
          height: 14.8cm;
          background-image: url(img/Certificate-Energy-Indicators-Statistics_4.jpg);
          background-size: contain;
          background-repeat: no-repeat;
        }
        .text-block{
            padding-top: 165px;
            padding-left: 340px;
        }
        .text{
            padding-right: 30px;
        }
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            color: #000;
        }
        h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: #565656;
        }
        .student-name{
            margin: 35px 0px;
        }
        .course-name{
            color: #000;
        }
        .course-date{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            padding-top: 5px;
            margin-top: 30px;
            margin-bottom: 0px;
            border-bottom: 2px solid #565656;
            width: 150px;
        }
        .course-date-field{
            margin-top: 5px;
        }
        @media print {
          body, page {
            margin: 0;
            box-shadow: 0;
          }
            .text-block{
              background-image: url(img/Certificate-Energy-Indicators-Statistics_4.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              width: 21cm;
              height: 14.8cm; 
              -webkit-print-color-adjust: exact;
            }
            .text{
                margin-top: 70px;
                margin-left: 100px;
                padding-right: 150px;
            }
        }
    </style>
</head>
<body>

    <page size="A5">
        <div class="text-block">
            <div class="text">
            <h3>THIS IS TO ACKNOWLEDGE THAT</h3>
            <h1 class="student-name">Name Name Nachname Doppelter-Nachname</h1>
            <h3>Attended and completed the course:</h3>
            <h3 class="course-name">IEA Online Course on Energy Efficiency Indicators:<br>FUNDAMENTALS ON STATISTICS FUNDAMENTALS ON STATISTICS FUNDAMENTALS ON STATISTICS</h3>
            <h3 class="course-date">22.02.2018</h3>
            <h3 class="course-date-field">DATE</h3>
            </div>
        </div>
    </page>
</body>